.header {
  background-color: var(--var-white-color);
  display: grid;
  grid-column: 2 / -1;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 82px;
  position: sticky;
  top: 0;
  z-index: 1; }

.header-divider {
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: 89% 13%;
  gap: 1rem; }
  @media screen and (max-width: 1500px) {
    .header-divider {
      grid-template-columns: 80% 13%;
      gap: 1rem; } }
  @media screen and (max-width: 1500px) {
    .header-divider {
      grid-template-columns: 80% 13%;
      gap: 1rem; } }

.input-icon {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 55% auto;
  grid-gap: 10px;
  justify-content: center; }

.searching {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1fr 50px;
  margin-top: 10px; }
  @media screen and (max-width: 800px) {
    .searching {
      grid-template-columns: 250px 50px; } }
  @media screen and (max-width: 780px) {
    .searching {
      grid-template-columns: 230px 50px; } }
  @media screen and (max-width: 670px) {
    .searching {
      grid-template-columns: 200px 50px; } }
  @media screen and (max-width: 630px) {
    .searching {
      grid-template-columns: 180px 50px; } }
  @media screen and (max-width: 600px) {
    .searching {
      grid-template-columns: 150px 50px; } }
  @media screen and (max-width: 550px) {
    .searching {
      grid-template-columns: 120px 50px; } }
  @media screen and (max-width: 450px) {
    .searching {
      grid-template-columns: 80px 50px;
      padding-left: 2rem; } }

.finding {
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: var(--var-find-color);
  border: 1px solid var(--var-gray-color); }

.search-svg {
  align-items: center;
  padding: 10px 15px 10px 13px;
  border-top: 1px solid var(--var-gray-color);
  border-right: 1px solid var(--var-gray-color);
  border-bottom: 1px solid var(--var-gray-color);
  background-color: var(--var-dark1-color);
  cursor: pointer; }
  .search-svg:hover {
    background-color: var(--var-hover-color); }

.microphone {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  padding: 8px 10px 4px 10px;
  border-radius: 70px;
  background-color: var(--var-dark1-color);
  cursor: pointer; }
  .microphone:hover {
    background-color: var(--var-hover-color); }
  @media screen and (max-width: 730px) {
    .microphone {
      display: none; } }

.notification-icon {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 60px 60px 1fr;
  margin-top: 10px;
  float: right;
  cursor: pointer;
  justify-content: end; }
  @media screen and (max-width: 550px) {
    .notification-icon {
      grid-template-columns: 60% 60% 1fr; } }

.cat-profile {
  height: 40px;
  width: 40px; }

.posts {
  background-color: var(--var-dark1-color);
  grid-row: 3 / -1;
  grid-column: 2 / -1;
  color: var(--var-black-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 15px;
  padding: 20px;
  text-decoration: none; }

.new {
  background-color: var(--var-dark1-color); }

.post--1 {
  display: grid;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 1fr;
  text-decoration: none; }
  .post--1:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
    box-shadow: var(--var-black-color) 0px 3px 8px; }

.video-img {
  height: 100%;
  width: 100%;
  cursor: pointer; }

.detials {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr;
  padding-left: 10px;
  padding-top: 10px; }

.kavin-title {
  font-size: 12px;
  font-weight: 500; }

.kavin-profile {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 40px 1fr; }

.kavin-c-name {
  font-size: 10px;
  font-weight: 400;
  cursor: pointer; }
  .kavin-c-name:hover {
    text-decoration: underline; }

.yt-icon {
  align-items: center;
  text-align: center;
  transform: translateY(1px); }

.sidebars {
  display: grid;
  grid-row: 2/ -1;
  grid-column: 1 / 2;
  position: relative;
  z-index: 999999;
  min-width: 14vw; }
  @media screen and (max-width: 1300px) {
    .sidebars {
      min-width: 7vw; } }
  @media screen and (max-width: 405px) {
    .sidebars {
      display: none; } }

.sidebar {
  background-color: var(--var-white-color);
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  padding-top: 10px;
  grid-gap: 20px;
  left: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  min-width: 14vw; }
  @media screen and (max-width: 1300px) {
    .sidebar {
      min-width: 7vw; } }

.bar0 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 1fr;
  padding-left: 20px;
  align-items: center;
  display: grid;
  grid-row: 1/ 2;
  grid-column: 1/ 2;
  position: fixed;
  align-items: center;
  padding-top: 1rem;
  z-index: 99999; }
  @media screen and (max-width: 600px) {
    .bar0 {
      grid-template-columns: 36px 1fr;
      padding-left: 1px; } }
  @media screen and (max-width: 500px) {
    .bar0 {
      grid-template-columns: 27px 1fr;
      padding-left: 0px; } }
  @media screen and (max-width: 330px) {
    .bar0 {
      padding-left: 1px; } }

.youtube-icon {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 60px 2fr;
  background-color: var(--var-white-color); }

.youtube-icon {
  height: 27px;
  width: 100px;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
  margin-right: 1rem; }
  @media screen and (max-width: 670px) {
    .youtube-icon {
      height: 18px;
      width: 77px; } }
  @media screen and (max-width: 600px) {
    .youtube-icon {
      height: 18px;
      width: 77px; } }
  @media screen and (max-width: 550px) {
    .youtube-icon {
      height: 18px;
      width: 60px; } }
  @media screen and (max-width: 500px) {
    .youtube-icon {
      height: 18px;
      width: 60px; } }
  @media screen and (max-width: 330px) {
    .youtube-icon {
      height: 14px;
      width: 50px; } }

.pending {
  margin-top: 5px;
  padding-left: 10px;
  cursor: pointer; }

.bar1 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1.2fr; }
  @media screen and (max-width: 1300px) {
    .bar1 {
      width: 10px;
      display: grid;
      grid-template-rows: repeat(4, 50);
      grid-template-columns: 100px;
      gap: 1rem; } }
  .bar1--1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 55px 1fr;
    background-color: var(--var-dark2-color);
    align-items: center;
    padding-left: 30px; }
    .bar1--1:hover {
      background-color: var(--var-hover-color); }
    @media screen and (max-width: 1300px) {
      .bar1--1 {
        display: grid;
        grid-template-rows: 20% auto;
        grid-template-columns: 5%;
        align-items: center;
        background-color: var(--var-white-color); } }
  .bar1--2, .bar1--3, .bar1--4 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 55px 1fr;
    align-items: center;
    padding-left: 30px;
    cursor: pointer; }
    .bar1--2:hover, .bar1--3:hover, .bar1--4:hover {
      background-color: var(--var-hover-color); }
    @media screen and (max-width: 1300px) {
      .bar1--2, .bar1--3, .bar1--4 {
        display: grid;
        grid-template-rows: 20% auto;
        grid-template-columns: 20%;
        align-items: center;
        padding-left: 30px; } }
  .bar1--h {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: var(--var-black-color); }
    @media screen and (max-width: 600px) {
      .bar1--h {
        font-size: 8px;
        font-weight: 500; } }
  .bar1--h2 {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: var(--var-black-color); }
    @media screen and (max-width: 1300px) {
      .bar1--h2 {
        text-align: center;
        transform: translateX(-18px); } }
    @media screen and (max-width: 600px) {
      .bar1--h2 {
        font-size: 8px;
        font-weight: 500;
        transform: translateX(-12px); } }
    @media screen and (max-width: 460px) {
      .bar1--h2 {
        font-size: 6px;
        font-weight: 500;
        transform: translateX(-6px); } }

.bar2 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1.2fr;
  border-bottom: 1px solid var(--var-gray-color);
  border-top: 1px solid var(--var-gray-color); }
  .bar2--1, .bar2--2, .bar2--3, .bar2--4, .bar2--5, .bar2--6 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 55px 1fr;
    align-items: center;
    padding-left: 30px;
    cursor: pointer; }
    .bar2--1:hover, .bar2--2:hover, .bar2--3:hover, .bar2--4:hover, .bar2--5:hover, .bar2--6:hover {
      background-color: var(--var-hover-color); }
  .bar2--h {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: var(--var-black-color); }
  @media screen and (max-width: 1300px) {
    .bar2 {
      display: none; } }

.bar3 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1.2fr;
  border-bottom: 1px solid var(--var-gray-color); }
  .bar3--1, .bar3--2, .bar3--3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 55px 1fr;
    align-items: center;
    padding-left: 30px;
    cursor: pointer; }
    .bar3--1:hover, .bar3--2:hover, .bar3--3:hover {
      background-color: var(--var-hover-color); }
  @media screen and (max-width: 1300px) {
    .bar3 {
      display: none; } }

.headline--1 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--var-dark3-color);
  padding-left: 30px; }

.powell {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: var(--var-black-color); }

.kavin {
  height: 31px;
  width: 33px; }

.subscriptions {
  background-color: var(--var-white-color);
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 40px repeat(19, 1fr);
  align-items: center;
  padding-left: 24px;
  padding-top: 20px;
  grid-gap: 20px;
  border-bottom: 1px solid var(--var-gray-color);
  border-top: 1px solid var(--var-gray-color);
  overflow-x: auto;
  overflow-x: scroll;
  overflow-y: hidden; }

.subscriptions::-webkit-scrollbar {
  width: 0; }

.sub {
  background-color: var(--var-dark1-color);
  padding: 8px 8px 8px 8px;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  border: 0.5px solid var(--var-gray-color); }
  .sub--1 {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: black; }

.sub2 {
  background-color: var(--var-black-color);
  padding: 0px 5px 8px 5px;
  min-width: 12px;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  border: 0.5px solid var(--var-gray-color); }
  .sub2--2 {
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    color: var(--var-white-color); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  --color-primary: #c69963
; }

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  --var-black-color: #000;
  --var-gray-color: rgb(214, 211, 211);
  --var-white-color: #ffff;
  --var-find-color: rgb(219, 217, 217);
  --var-dark1-color: rgb(243, 237, 237);
  --var-hover-color: rgb(231, 227, 227);
  --var-dark2-color: rgb(214, 213, 213);
  --var-dark3-color: rgb(88, 87, 87); }

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 60px 60px 4fr;
  grid-template-columns: 15% 6.1fr;
  position: relative; }

.page2 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 4fr;
  gap: 1rem; }

.page2-header {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/2;
  grid-template-rows: 55px;
  grid-template-columns: 10% 2fr 18%;
  gap: 2rem; }

.page2-main {
  display: grid;
  grid-column: 1/-1;
  grid-row: 2/-1;
  padding-left: 10rem;
  padding-top: 2rem;
  padding-right: 1rem;
  height: 90vh;
  max-width: 70%; }

.next-page2 {
  display: grid;
  grid-template-rows: auto 20% 20%; }

.some-comment {
  background-color: var(--var-hover-color);
  border-radius: 15px;
  margin-bottom: 3rem; }

.next-para {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  color: var(--var-black-color); }

.next2-para {
  font-size: 15px;
  font-weight: 400;
  padding-left: 10px;
  color: var(--var-black-color); }

.next4-para {
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
  color: var(--var-black-color);
  cursor: pointer; }

.parah22--1 {
  font-size: 22px;
  font-weight: 500;
  color: var(--var-black-color);
  padding-top: 1rem; }

.n-profile {
  display: grid;
  grid-template-columns: 20% 29% 49%;
  padding-top: 10px; }

.person-name {
  font-size: 18px;
  font-weight: 500;
  color: var(--var-black-color);
  padding-left: 10px; }

.person-name2 {
  font-size: 15px;
  font-weight: 400;
  color: var(--var-dark3-color);
  line-height: 20px;
  padding-left: 10px; }

.person-logo {
  height: 6.5rem;
  width: 7.5rem; }

.pro-details {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 80%;
  align-items: center;
  cursor: pointer; }

.ring {
  display: grid;
  grid-template-columns: auto 10%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 7rem; }
  .ring--button {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 30px;
    color: var(--var-black-color);
    background-color: var(--var-dark1-color);
    text-decoration: none; }
    .ring--button:hover {
      background-color: var(--var-hover-color); }

.next-pagering {
  transform: translateY(-4px);
  cursor: pointer; }

.new-like {
  display: grid;
  grid-template-columns: 15% 6% 15% 15% 5.5%;
  justify-content: end;
  align-items: center;
  gap: 2rem; }

.like-1 {
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: 18px;
  font-weight: 400;
  color: var(--var-black-color);
  text-align: center;
  align-items: center;
  background-color: var(--var-dark1-color);
  padding: 8px;
  border-radius: 30px;
  cursor: pointer; }
  .like-1:hover {
    background-color: var(--var-hover-color); }

.img-relatives {
  cursor: pointer; }

/*.relatives {
    height: 100%;
    max-width: 50rem;
}*/
.bar0 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 1fr;
  padding-left: 20px;
  align-items: center; }

.youtube-icon {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 60px 2fr;
  background-color: var(--var-white-color); }

.youtube-logo {
  height: 22px;
  width: 90px;
  align-items: center;
  margin-top: 8px;
  cursor: pointer; }

.pending {
  margin-top: 5px;
  padding-left: 10px;
  cursor: pointer; }
