.header {
  background-color: white;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1.5fr 5fr 1fr;
  grid-template-rows: 50px;
  grid-gap: 20rem; }

.youtube-icon {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  margin-left: 10px;
  margin-top: 10px; }

.youtube-logo {
  height: 20px;
  width: 100px;
  align-items: center;
  margin-top: 7px;
  cursor: pointer; }

.input-icon {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 45px;
  grid-gap: 10px; }

.searching {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1fr 50px;
  margin-top: 10px; }

.finding {
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px; }

.search-svg {
  align-items: center;
  padding: 10px 15px 10px 13px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #f3eded;
  cursor: pointer; }
  .search-svg:hover {
    background-color: #e7e3e3; }

.microphone {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  padding: 8px 10px 4px 10px;
  border-radius: 70px;
  background-color: #f7f4f4;
  cursor: pointer; }
  .microphone:hover {
    background-color: #e4e1e1; }

.notification-icon {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 1px;
  align-items: center;
  cursor: pointer; }

.cat-profile {
  height: 60%;
  width: 55%; }

.pending {
  margin-top: 5px;
  padding-left: 10px;
  cursor: pointer; }

.posts {
  background-color: #ffee06;
  grid-row: 3 / -1;
  grid-column: 2 / -1;
  color: black;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px; }

.new {
  background-color: #9e9a9a; }

.sidebar {
  background-color: white;
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  padding-top: 10px;
  grid-gap: 20px; }

.bar1 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1.2fr; }
  .bar1--1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 55px 1fr;
    background-color: #d6d5d5;
    align-items: center;
    padding-left: 30px; }
    .bar1--1:hover {
      background-color: #c0bdbd; }
  .bar1--2, .bar1--3, .bar1--4 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 55px 1fr;
    align-items: center;
    padding-left: 30px;
    cursor: pointer; }
    .bar1--2:hover, .bar1--3:hover, .bar1--4:hover {
      background-color: #e9e7e7; }
  .bar1--h {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: black; }

.bar2 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1.2fr;
  border-bottom: 1px solid #dfdcdc;
  border-top: 1px solid #dfdcdc; }
  .bar2--1, .bar2--2, .bar2--3, .bar2--4, .bar2--5, .bar2--6 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 55px 1fr;
    align-items: center;
    padding-left: 30px;
    cursor: pointer; }
    .bar2--1:hover, .bar2--2:hover, .bar2--3:hover, .bar2--4:hover, .bar2--5:hover, .bar2--6:hover {
      background-color: #e9e7e7; }
  .bar2--h {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: black; }

.bar3 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1.2fr;
  border-bottom: 1px solid #dfdcdc; }
  .bar3--1, .bar3--2, .bar3--3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 55px 1fr;
    align-items: center;
    padding-left: 30px;
    cursor: pointer; }
    .bar3--1:hover, .bar3--2:hover, .bar3--3:hover {
      background-color: #e9e7e7; }

.headline--1 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #585757;
  padding-left: 30px; }

.powell {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: black; }

.kavin {
  height: 31px;
  width: 33px; }

.subscriptions {
  background-color: white;
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: repeat(15, 1fr);
  align-items: center;
  padding-left: 20px;
  grid-gap: 20px;
  border-bottom: 1px solid #aca8a8;
  border-top: 1px solid #9b9797; }

.sub {
  background-color: #ece9e9;
  padding: 8px 3px 8px 3px;
  min-width: 12px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  border: 0.5px solid #d6d3d3; }
  .sub--1 {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: black; }

.sub2 {
  background-color: #0a0a0a;
  padding: 10px 5px 10px 5px;
  min-width: 12px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  border: 0.5px solid #d6d3d3; }
  .sub2--2 {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: white; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  --color-primary: #c69963
; }

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  background-color: #eee;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 60px 60px 4fr 1fr;
  grid-template-columns: 1fr 6.1fr; }
