.header {
    background-color: white;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1.2fr 5fr 1fr;
    grid-template-rows: 50px;
    grid-gap: 20rem;
    padding: 10px;

}

.notification-icon {}

.youtube-icon {
    margin-top: 10px;
}

.youtube-logo {
    height: 65%;
    width: 55%;
    align-items: center;
    cursor: pointer;

}

.input-icon {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 50px;
    grid-gap: 10px;

}

.searching {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 60px;

}

.finding {
    font-size: 20px;
    font-weight: 400;

}

.search-svg {
    align-items: center;
    padding: 12px 15px 10px 15px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgb(243, 237, 237);
    cursor: pointer;

    &:hover {
        background-color: rgb(231, 227, 227);
    }


}

.microphone {
    padding: 12px 10px 10px 12px;
    border-radius: 70px;
    background-color: rgb(247, 244, 244);
    cursor: pointer;

    &:hover {
        background-color: rgb(228, 225, 225);
    }
}


.notification-icon {
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 1px;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.cat-profile {
    height: 70%;
    width: 65%;
}