.posts {
    background-color: rgb(247, 243, 243);
    grid-row: 3 / -1;
    grid-column: 2 / -1;
    color: black;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 20px;

}

.new {
    background-color: rgb(247, 243, 243);

}

.post--1 {
    display: grid;
    grid-template-rows: 1fr 100px;
    grid-template-columns: 1fr;
}

.video-img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.detials {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr;
    padding-left: 10px;
    padding-top: 10px;

}

.kavin-title {
    font-size: 12px;
    font-weight: 500;
}

.kavin-profile {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40px 1fr;

}

.kavin-c-name {
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.yt-icon {
    align-items: center;
    text-align: center;
    transform: translateY(1px);

}