.sidebars {
    display: grid;
    grid-row: 2/ -1;
    grid-column: 1 / 2;
    position: relative;
    z-index: 999999;
    min-width: 14vw;

    @media screen and (max-width: 1300px) {
        min-width: 7vw;
    }

    @media screen and (max-width: 550px) {
        display: none;
    }

    @media screen and (max-width: 405px) {
        display: none;
    }


}

.sidebar {
    background-color: var(--var-white-color);

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    padding-top: 10px;
    grid-gap: 20px;
    left: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    min-width: 14vw;

    @media screen and (max-width: 1300px) {
        min-width: 7vw;
    }



}

.bar0 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50px 1fr;
    padding-left: 20px;
    align-items: center;
    display: grid;
    grid-row: 1/ 2;
    grid-column: 1/ 2;
    position: fixed;
    align-items: center;
    padding-top: 1rem;
    z-index: 99999;

    @media screen and (max-width: 600px) {
        grid-template-columns: 36px 1fr;
        padding-left: 1px;
    }

    @media screen and (max-width: 550px) {
        padding-left: 30px;
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: 40px 1fr;

    }

    @media screen and (max-width: 330px) {}






}

.youtube-icon {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60px 2fr;
    background-color: var(--var-white-color);



}

.youtube-icon {
    height: 27px;
    width: 100px;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    margin-right: 1rem;

    @media screen and (max-width: 670px) {
        height: 18px;
        width: 77px;
    }

    @media screen and (max-width: 600px) {
        height: 18px;
        width: 77px;
    }

    @media screen and (max-width: 550px) {
        height: 18px;
        width: 60px;
    }

    @media screen and (max-width: 500px) {
        height: 18px;
        width: 60px;
    }

    @media screen and (max-width: 330px) {
        height: 14px;
        width: 50px;
    }



}

.pending {
    margin-top: 5px;
    padding-left: 10px;
    cursor: pointer;

    @media screen and (max-width: 550px) {
        display: none;
    }
}

.bar1 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1.2fr;

    @media screen and (max-width: 1300px) {
        width: 10px;
        display: grid;
        grid-template-rows: repeat(4, 50);
        grid-template-columns: 100px;
        gap: 1rem;
    }


    &--1 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 55px 1fr;
        background-color: var(--var-dark2-color);
        align-items: center;
        padding-left: 30px;

        &:hover {
            background-color: var(--var-hover-color);
        }

        @media screen and (max-width: 1300px) {
            display: grid;
            grid-template-rows: 20% auto;
            grid-template-columns: 5%;
            align-items: center;
            background-color: var(--var-white-color);

        }
    }

    &--2,
    &--3,
    &--4 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 55px 1fr;
        align-items: center;
        padding-left: 30px;
        cursor: pointer;

        &:hover {
            background-color: var(--var-hover-color);
        }

        @media screen and (max-width: 1300px) {
            display: grid;
            grid-template-rows: 20% auto;
            grid-template-columns: 20%;
            align-items: center;
            padding-left: 30px;
        }
    }


    &--h {

        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        color: var(--var-black-color);

        @media screen and (max-width: 600px) {
            font-size: 8px;
            font-weight: 500;
        }


    }

    &--h2 {

        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        color: var(--var-black-color);

        @media screen and (max-width: 1300px) {
            text-align: center;
            transform: translateX(-18px);

        }

        @media screen and (max-width: 600px) {
            font-size: 8px;
            font-weight: 500;
            transform: translateX(-12px);
        }

        @media screen and (max-width: 460px) {
            font-size: 6px;
            font-weight: 500;
            transform: translateX(-6px);
        }


    }


}


.bar2 {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1.2fr;
    border-bottom: 1px solid var(--var-gray-color);
    border-top: 1px solid var(--var-gray-color);

    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 55px 1fr;
        align-items: center;
        padding-left: 30px;
        cursor: pointer;

        &:hover {
            background-color: var(--var-hover-color);
        }
    }

    &--h {

        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        color: var(--var-black-color);

    }

    @media screen and (max-width: 1300px) {
        display: none;
    }
}

.bar3 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1.2fr;
    border-bottom: 1px solid var(--var-gray-color);

    &--1,
    &--2,
    &--3 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 55px 1fr;
        align-items: center;
        padding-left: 30px;
        cursor: pointer;

        &:hover {
            background-color: var(--var-hover-color);
        }
    }

    @media screen and (max-width: 1300px) {
        display: none;
    }


}


.headline--1 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--var-dark3-color);
    padding-left: 30px;

}

.powell {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: var(--var-black-color);
}

.kavin {
    height: 31px;
    width: 33px;
}