.sidebar {
    background-color: #07f168;
    grid-row: 2 / -1;

    display: grid;
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: 60px;
    padding: 10px;
    grid-gap: 30px;
}

.item {
    background-color: rgb(245, 4, 185);
}

.svg-item--1 {}