.next-page {
    display: grid;
    grid-row: 2/ -1;
    grid-column: 2/ -1;
    height: 90vh;
    width: 70%;
    margin-top: 2px;

    grid-template-rows: auto 20% 20%;


}

.some-comment {
    background-color: var(--var-hover-color);
    border-radius: 15px;
    margin-bottom: 3rem;
}

.next-para {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: var(--var-black-color);

}

.next2-para {
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;
    color: var(--var-black-color);

}


.next4-para {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    color: var(--var-black-color);
    cursor: pointer;


}



.parah22 {

    &--1 {
        font-size: 22px;
        font-weight: 500;
        color: var(--var-black-color);
        padding-top: 1rem;
    }
}

.n-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    padding-top: 10px;
}

.person-name {
    font-size: 18px;
    font-weight: 500;
    color: var(--var-black-color);
    padding-left: 10px;

}

.person-name2 {
    font-size: 15px;
    font-weight: 400;
    color: var(--var-dark3-color);
    line-height: 20px;
    padding-left: 10px;
}

.person-logo {
    height: 6.5rem;
    width: 7.5rem;
}

.pro-details {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 80%;
    align-items: center;
    cursor: pointer;
}

.ring {


    display: grid;
    grid-template-columns: auto 10%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 7rem;


    &--button {
        font-size: 12px;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 30px;
        color: var(--var-black-color);
        background-color: var(--var-dark1-color);
        text-decoration: none;

        &:hover {
            background-color: var(--var-hover-color);
        }
    }


}

.next-pagering {
    transform: translateY(-4px);
    cursor: pointer;
}

.new-like {
    display: grid;
    grid-template-columns: 18% 10% 20% 20% 8.5%;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    gap: 1rem;
}

.like-1 {
    display: grid;
    grid-template-columns: 20% auto;
    font-size: 15px;
    font-weight: 400;
    color: var(--var-black-color);
    text-align: center;
    align-items: center;
    background-color: var(--var-dark1-color);
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        background-color: var(--var-hover-color);

    }

}