.next-page {
    display: grid;
    grid-row: 2/ -1;
    grid-column: 2/ -1;
    height: 90vh;
    width: 70%;
    margin-top: 3rem;

    grid-template-rows: auto 20% 20%;


}

.some-comment {
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    margin-bottom: 3rem;
}

.next-para {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: black;

}

.next2-para {
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;
    color: rgb(5, 5, 5);

}


.next4-para {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    color: rgb(8, 8, 8);
    cursor: pointer;


}



.parah22 {

    &--1 {
        font-size: 22px;
        font-weight: 500;
        color: black;
        padding-top: 1rem;
    }
}

.n-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    padding-top: 10px;
}

.person-name {
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding-left: 10px;

}

.person-name2 {
    font-size: 15px;
    font-weight: 400;
    color: rgb(184, 180, 180);
    line-height: 20px;
    padding-left: 10px;
}

.person-logo {
    height: 6.5rem;
    width: 7.5rem;
}

.pro-details {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 80%;
    align-items: center;
    cursor: pointer;
}

.ring {


    display: grid;
    grid-template-columns: auto 10%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 7rem;


    &--button {
        font-size: 12px;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 30px;
        color: rgb(24, 23, 23);
        background-color: rgb(235, 230, 230);
        text-decoration: none;

        &:hover {
            background-color: rgb(214, 209, 209);
        }
    }


}

.next-pagering {
    transform: translateY(-4px);
    cursor: pointer;
}